<template>
  <section class="container is-fluid is-marginless is-paddingless">
    <p class="has-text-grey results">Environ {{ result.total }} résultats.</p>
    <br>
    <div class="columns is-gapless">
      <div class="column is-three-fifths">
        <product
          v-for="product in result.products"
          :key="product.id"
          :product="product"
          @click="currentProduct = product"/>
        <button
          v-if="isLoadMoreVisible"
          class="button is-fullwidth load-more"
          @click.prevent="loadMore">Afficher plus de résultats</button>
      </div>
      <div class="column">
        <product-details
          v-if="currentProduct !== null"
          :product="currentProduct"
          @close="closeDetails"/>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'
import _ from 'lodash'
import Product from '@/components/Product'
import ProductDetails from '@/components/ProductDetails'

export default {
  components: {
    Product,
    ProductDetails
  },

  head() {
    return {
      title: `Comparaison des prix - Houssine`
    }
  },

  data() {
    return {
      currentProduct: null,
      currentPage: 0,
      keywords: '',
      isLoadMoreVisible: true
    }
  },

  async asyncData({ params, app, req, error }) {
    const baseUri = process.server
      ? 'http://api:4000'
      : 'https://api.' + app.$env.DOMAIN_NAME

    try {
      const { data } = await axios.get(`${baseUri}/keywords/${params.keywords}`)

      return {
        result: data,
        keywords: params.keywords,
        baseUri
      }
    } catch (err) {
      console.error(err)
      error({ statusCode: 404, message: 'Error while fetching results' })
    }
  },

  methods: {
    async loadMore() {
      this.currentPage += 1
      const { data } = await axios.get(
        `${this.baseUri}/keywords/${this.keywords}?page=${this.currentPage}`
      )

      this.result.products = _.unionWith(
        this.result.products,
        data.products,
        (first, second) => first.id === second.id
      )

      if (data.products.length === 0) {
        this.isLoadMoreVisible = false
      }
    },

    closeDetails() {
      this.currentProduct = null
    }
  }
}
</script>

<style lang="scss">
.results {
  margin: 1em;
}

.load-more {
  margin: 1em;
}
</style>
