<template>
  <nav
    class="navbar header has-shadow is-fixed-top"
    role="navigation"
    aria-label="main navigation">
    <div class="navbar-brand">
      <nuxt-link
        class="navbar-item"
        to="/"
        @click.native="toggleMenu">
        HOUSSINE
      </nuxt-link>
      <div
        :class="{ 'is-active': isMenuActive }"
        class="navbar-burger"
        @click="toggleMenu">
        <span/>
        <span/>
        <span/>
      </div>
    </div>
    <div
      :class="{ 'is-active': isMenuActive }"
      class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item control">
          <search />
        </div>
      </div>
      <div class="navbar-end">
        <nuxt-link
          class="navbar-item has-text-grey-light"
          to="/about"
          @click.native="toggleMenu">
          À Propos
        </nuxt-link>
        <nuxt-link
          class="navbar-item has-text-grey-light"
          to="/contact"
          @click.native="toggleMenu">
          Nous Contacter
        </nuxt-link>
      </div>
    </div>
  </nav>
</template>

<script>
import Search from '@/components/Search'

export default {
  components: {
    Search
  },

  data() {
    return {
      isMenuActive: false
    }
  },

  methods: {
    toggleMenu() {
      this.isMenuActive = !this.isMenuActive
    }
  }
}
</script>
