<template>
  <div
    class="product media"
    @click="$emit('click')">
    <div class="media-left">
      <figure class="image is-96x96">
        <img
          :src="product.thumbnail"
          :alt="product.title">
        <strong class="mobile-price">{{ product.price }} DH</strong>
      </figure>
    </div>
    <div class="media-content">
      <p class="title is-5 has-text-info">{{ product.title }}</p>
      <p class="subtitle is-6">
        {{ product.description | truncate }}<br>
        <a
          :href="product.link"
          target="_blank"
          class="is-info">{{ product.link }}</a>
      </p>
    </div>
    <div class="media-right is-size-5">
      <strong>{{ product.price }} DH</strong>
    </div>
  </div>
</template>

<script>
export default {
  filters: {
    truncate(text) {
      const truncatedText = text.substring(0, 200)
      return text.length <= 140 ? truncatedText : truncatedText + '…'
    }
  },

  props: {
    product: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss">
@import '~bulma/sass/utilities/_all';

.product {
  padding: 1em;
  border-radius: 3px;
  margin: 1em;
  overflow: hidden;
}

.product:hover {
  cursor: pointer;
}

.media + .media {
  border: none;
}

.mobile-price {
  display: none;
}

@include mobile {
  .product {
    margin: 1rem;
    padding: 0;

    .image {
      width: 20vw;
    }
  }

  .media-right {
    display: none;
  }

  .media-content {
    font-size: 10px !important;
  }

  .mobile-price {
    display: inlne;
  }
}
</style>
