<template>
  <div class="card product-details">
    <b-icon
      icon="close"
      size="is-large"
      class="is-pulled-right"
      @click.native="close" />
    <div class="card-image is-flex">
      <figure class="image">
        <img
          :src="product.thumbnail"
          :alt="product.title">
      </figure>
    </div>
    <div class="card-content">
      <div class="media-content">
        <p class="title is-4">{{ product.title }}</p>
      </div>
      <div class="content">
        {{ product.description }}
      </div>
    </div>
    <footer class="card-footer">
      <div class="card-footer-item">
        <div class="level">
          <div class="level-item">
            <div>
              <p class="title">{{ product.price }} DH</p>
              <p class="heading">Prix</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer-item">
        <div class="level-item">
          <div>
            <p class="title">{{ product.seller }}</p>
            <p class="heading">Vendeur</p>
          </div>
        </div>
      </div>
      <div class="card-footer-item">
        <a
          :href="product.link"
          class="button is-link is-fullwidth"
          target="_blank">Ouvrir</a>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
      required: true
    }
  },

  methods: {
    close() {
      this.$emit('close')
    }
  }
}
</script>

<style lang="scss">
@import '~bulma/sass/utilities/_all';

.product-details {
  position: fixed;
  top: 55px;
  max-height: calc(100vh - 55px);
  overflow: hidden;
  overflow-y: auto;
  height: calc(100vh - 55px);
  right: 0;

  .title {
    font-size: 1.1rem;
  }

  .card-content {
    font-size: 0.9rem;
    white-space: pre-line;
  }

  .image img {
    max-height: 35vh;
    width: auto;
  }

  .card-image {
    justify-content: center;
  }

  .card-footer {
    bottom: 0;
    position: sticky;
    background-color: #fff;
    width: 100%;
  }
}

@include tablet {
  .product-details {
    width: 100vw;
  }
}

@include desktop {
  .product-details {
    width: 40vw;
  }
}
</style>
