<template>
  <b-field class="main-search">
    <b-input
      placeholder="Cherchez des produit dans des disaines de magasins..."
      type="search"
      icon="magnify"
      size="is-medium"
      autofocus
      expanded
      @keyup.enter.native="doSearch"/>
  </b-field>
</template>

<script>
export default {
  methods: {
    doSearch(event) {
      const keywords = event.target.value

      if (keywords) {
        this.$router.push({
          name: 'search-keywords',
          params: { keywords: keywords }
        })
      }
    }
  }
}
</script>

<style lang="scss">
@import '~bulma/sass/utilities/_all';

.main-search .control .input {
  border: none;
  box-shadow: none;
  background-color: #f2f2f2;
  font-size: 1.1rem;
}

@include desktop {
  .main-search .control .input {
    min-width: 30em;
  }
}
</style>
