<template>
  <section class="section about">
    <h1 class="title">À propos de Houssine</h1>
    <p class="about__heading">Houssine est un comparateur de prix pour les sites e-commerce Maroccains. Houssine ne vends aucun des produits listés.</p>
    <div class="columns is-multiline has-text-centered">
      <div class="column is-half">
        <img
          :src="icons.shop"
          class="about__icon"
        >
        <h3 class="subtitle">Gratuit pour les marchands</h3>
        <p>Le service est gratuit pour les marchants.</p>
      </div>
      <div class="column is-half">
        <img
          :src="icons.buyer"
          class="about__icon"
        >
        <h3 class="subtitle">Gratuit pour les acheteurs</h3>
        <p>Le service est gratuit pour les acheteurs.</p>
      </div>
      <div class="column is-half">
        <img
          :src="icons.enroll"
          class="about__icon"
        >
        <h3 class="subtitle">Adhésion à l'annuaire</h3>
        <p>Tant que notre robot d'exploration peut accéder à votre site web, vos produits seront indéxés dans notre annuaire.</p>
      </div>
      <div class="column is-half">
        <img
          :src="icons.optout"
          class="about__icon"
        >
        <h3 class="subtitle">Opposition à l'adhésion</h3>
        <p>L'opposition à l'adhésion consiste simplement à refuser l'accès au robot d'exploration. <router-link to="contact">Contactez-nous pour plus d'informations.</router-link></p>
      </div>
    </div>
  </section>
</template>

<script>
import shop from 'flat-color-icons/svg/shop.svg'
import buyer from 'flat-color-icons/svg/reading_ebook.svg'
import enroll from 'flat-color-icons/svg/add_database.svg'
import optout from 'flat-color-icons/svg/delete_database.svg'

export default {
  head() {
    return {
      title: 'À propos de houssine'
    }
  },

  data() {
    return {
      icons: { shop, buyer, enroll, optout }
    }
  }
}
</script>

<style lang="scss">
.about {
  .about__heading {
    margin-bottom: 3rem;
  }

  .about__icon {
    height: 5rem;
  }

  .subtitle {
    margin-bottom: 0.5rem;
  }
}
</style>
