<template>
  <section class="section">
    <h1 class="title">Contactez nous</h1>
    <p>Si vous avez des questions ou demandes addressez les à <a href="mailto:houssine@dragnucs.com">houssine@dragnucs.com</a>.</p>
  </section>
</template>

<script>
export default {
  head() {
    return {
      title: 'Contactez houssine'
    }
  }
}
</script>
