<template>
  <section class="hero is-medium is-info is-bold">
    <div class="hero-body">
      <div class="container">
        <h2 class="title">
          Trouvez le produit le moins chère.
        </h2>
        <h3 class="subtitle">Houssine cherche pour vous dans plus de 30 magasins en lign pour trouver la meilleur offre.</h3>
        <h4 class="subtitle">
          Recherches populaires:
          <template v-for="keyword in keywords">
            <nuxt-link
              :key="keyword"
              :to="{ name: 'search-keywords', params: { keywords: keyword } }">{{ keyword }}</nuxt-link>,
          </template>
        </h4>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'HomePage',

  data() {
    return {
      keywords: ['Crème solaire', 'Infinix', 'Mocassin']
    }
  },

  head() {
    return {
      title: ' Trouvez le produit le moins chère - Houssine.com'
    }
  }
}
</script>
